.projectCard {
    display: flex;
    position: absolute;
    width: 90%;
    transition: right 3s ease, opacity 0.3s ease;
    right: 40px;
}

.projectCard.active {
    z-index: 2;
}

/* Movimiento para cuando gira para la derecha */
.projectCard.prev.right {
    right: 30%;
}

.projectCard.next.right {
    right: -80%;
}

.projectCard.hidden {
    right: -100%;
    opacity: 0;
}

/* Movimiento para cuando gira a la izquierda */
.projectCard.prev.left {
    right:-80%;
    z-index: 3;
}

.projectCard.next.left {
    right: 30%;
    animation: 1.8s show normal linear;
}

.projectCard.next img,
.projectCard.hidden img,
.projectCard.prev img {
    width: 30%;
}

.projectCard img {
    width: 45%;
    margin: 0 5%;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 white;
    transform: perspective(700px) scale(0.9) rotateY(25deg) rotateX(10deg);
    transition: transform 1s ease, width 1s ease;
}

.projectCard img:hover {
    width: 40%;
    transform: none;
}

.projectCard div {
    width: 45%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projectCard div h3 {
    padding: 0;
    margin: 0;
    margin-top: 5%;
    color: white;
    animation: 3s imageShadow linear infinite;
    font-size: 30px;
    text-decoration: underline;
    font-family: "Chakra Petch", sans-serif;
}

.projectCard div p {
    color: white;
    width: 70%;
    font-family: 'Space Mono', sans-serif;
}

@keyframes show {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 425px) {
    .projectCard {
        flex-wrap: wrap;
        width: 90%;
        right: 0px;
        margin-top: 20%;
    }
    
    /* Movimiento para cuando gira para la derecha */
    .projectCard.prev.right {
        right: 40%;
    }
    
    .projectCard.next.right {
        right: -70%;
    }
    
    /* Movimiento para cuando gira a la izquierda */
    .projectCard.prev.left {
        right: -70%;
        z-index: 3;
    }
    
    .projectCard.next.left {
        right: 40%;
    }
    
    .projectCard.next img,
    .projectCard.hidden img,
    .projectCard.prev img {
        width: 50%;
    }

    .projectCard.active {
        z-index: 4;
    }
    
    .projectCard img {
        width: 85%;
    }
    
    .projectCard img:hover {
        width: 85%;
        height: 180px;
        transform: none;
    }
    
    .projectCard div {
        width: 90%;
    }
    
    .projectCard div p {
        color: white;
        width: 90%;
        font-family: 'Space Mono', sans-serif;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .projectCard {
        flex-wrap: wrap;
        width: 90%;
        right: 0px;
        margin-top: 20%;
    }
    
    /* Movimiento para cuando gira para la derecha */
    .projectCard.prev.right {
        right: 40%;
    }
    
    .projectCard.next.right {
        right: -70%;
    }
    
    /* Movimiento para cuando gira a la izquierda */
    .projectCard.prev.left {
        right: -70%;
        z-index: 3;
    }
    
    .projectCard.next.left {
        right: 40%;
    }
    
    .projectCard.next img,
    .projectCard.hidden img,
    .projectCard.prev img {
        width: 50%;
    }

    .projectCard.active {
        z-index: 4;
        right: -3%;
    }

    .projectCard:hover{
        right: 3%;
    }
    
    .projectCard:hover div{ 
        margin-right: 2%;
    } 

    .projectCard img {
        width: 85%;
    }
    
    .projectCard img:hover {
        width: 85%;
        height: 40vw;
        transform: none;
    }
    
    .projectCard div {
        width: 100%;
        margin-right: 15%;
    }
    
    .projectCard div p {
        color: white;
        right: -3%;
        width: 100%;
        font-size: 3vw;
        font-family: 'Space Mono', sans-serif;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .projectCard img {
        width: 50%;

    }
    
    .projectCard img:hover {
        width: 48%;
        transform: none;
    }
}