.serviceContainer {
    width: 30%;
    margin-top: 5%;
    position: relative;
}

.topRocket {
    position: absolute;
    width: 0;
    height: 0;
    top: -50px;
    right: 2%;
    border-left: 13vw solid transparent;
    border-right: 13vw solid transparent;
    border-bottom: 5vw solid #9f0000;
}

.boosterOut {
    opacity: 0;
    background-color: rgb(255, 97, 61);
    position: absolute;
    top: 93%;
    left: 40%;
    height: 100px;
    width: 100px;
    border-radius: 0 50% 50% 50%;
    transform: rotate(225deg);
    box-sizing: border-box;
    transition: opacity 1.5s ease;
    pointer-events: none;
}

.boosterIn {
    background-color: rgb(255, 194, 108);
    position: absolute;
    top: 8px;
    left: 8px;
    height: 80px;
    width: 80px;
    border-radius: 0 50% 50% 50%;
    transform: rotate(360deg);
    box-sizing: border-box;
    pointer-events: none;
}

.serviceArticle {
    height: 50px;
    overflow: hidden;
    color: white;
    text-align: center;
    transition: height 1s ease;
    margin: 5% 0;
    font-family: 'Space Mono', sans-serif;
    background-color: rgb(103, 103, 103);
    position: relative;
    border-radius: 20px;
}

.serviceArticle h3 {
    margin-top: 12px;
}

.serviceArticle p {
    margin: 0 10%;
}

.serviceArticle ul {
    text-align: start;
}

.serviceArticle:hover {
    z-index: 1;
}

.serviceArticle:hover ~ .bottomRocket {
    z-index: 1;
}

.serviceArticle:hover ~ .boosterOut{
    z-index: 1;
    opacity: 1;
    animation: turbo 2s linear infinite;
}

@keyframes turbo {
    0% {
        transform: scale(0.5) rotate(225deg);
    }
    50% {
        transform: scale(1) rotate(225deg);
    }
    100% {
        transform: scale(0.5) rotate(225deg);
    }
}

@media screen and (max-width: 320px) {
    .serviceContainer {
        width: 100%;
        margin-top: 10%;
    }
    
    .topRocket {
        top: -38px;
        right: 8px;
        border-left: 135px solid transparent;
        border-right: 135px solid transparent;
        border-bottom: 60px solid #9f0000;
    }

    .serviceArticle {
        height: 70px;
    }
      
    .boosterOut {
        top: 97%;
        left: 35%;
        height: 80px;
        width: 80px;
    }
    
    .boosterIn {
        height: 60px;
        width: 60px;
    }
    
    .serviceArticle h3 {
        margin-top: 9px;
    }

    .serviceContainer:nth-of-type(2) h3{
        margin-top: 19px;
    }
    
    .serviceContainer:nth-of-type(4) h3{
        margin-top: 20px;
    }

    .serviceContainer:nth-of-type(5) h3{
        margin-top: 22px;
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) {
    .serviceContainer {
        width: 100%;
        margin-top: 10%;
    }
    
    .topRocket {
        top: -20px;
        right: 13%;
        border-left: 35vw solid transparent;
        border-right: 32vw solid transparent;
        border-bottom: 12.5vw solid #9f0000;
    }

    .boosterOut {
        top: 97%;
        left: 37%;
        height: 80px;
        width: 80px;
    }
    
    .boosterIn {
        height: 60px;
        width: 60px;
    }
    
    .serviceArticle h3 {
        margin-top: 9px;
    }

    .serviceContainer:nth-of-type(2) h3{
        margin-top: 10px;
    }
    
    .serviceContainer:nth-of-type(4) h3{
        margin-top: 10px;
    }

    .serviceContainer:nth-of-type(5) h3{
        margin-top: 11px;
    }
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .serviceContainer {
        width: 100%;
        margin-top: 10%;
    }
    
    .topRocket {
        top: -30px;
        right: 13%;
        border-left: 35vw solid transparent;
        border-right: 32vw solid transparent;
        border-bottom: 12.5vw solid #9f0000;
    }

    .boosterOut {
        top: 97%;
        left: 39%;
        height: 80px;
        width: 80px;
    }
    
    .boosterIn {
        height: 60px;
        width: 60px;
    }
    
    .serviceArticle h3 {
        margin-top: 9px;
    }

    .serviceContainer:nth-of-type(2) h3{
        margin-top: 10px;
    }
    
    .serviceContainer:nth-of-type(4) h3{
        margin-top: 10px;
    }

    .serviceContainer:nth-of-type(5) h3{
        margin-top: 11px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .serviceContainer {
        width: 100%;
        margin-top: 10%;
    }
    
    .topRocket {
        top: -40px;
        right: 13%;
        border-left: 35vw solid transparent;
        border-right: 32vw solid transparent;
        border-bottom: 12.5vw solid #9f0000;
    }

    .boosterOut {
        top: 97%;
        left: 42.5%;
        height: 12.5vw;
        width: 12.5vw;
    }
    
    .boosterIn {
        height: 10vw;
        width: 10vw;
    }
    
    .serviceArticle h3 {
        margin-top: 9px;
        font-size: 3vw;
    }

    .serviceArticle p, .serviceArticle ul {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .serviceContainer {
        width: 48%;
        margin-top: 10%;
    }
    
    .topRocket {
        top: -45px;
        right: 4%;
        border-left: 20vw solid transparent;
        border-right: 20vw solid transparent;
        border-bottom: 8vw solid #9f0000;
    }

    .boosterOut {
        top: 97%;
        left: 36%;
        height: 12.5vw;
        width: 12.5vw;
    }
    
    .boosterIn {
        height: 10vw;
        width: 10vw;
    }
    
    .serviceArticle h3 {
        margin-top: 9px;
        font-size: 2.2vw;
    }

    .serviceArticle p, .serviceArticle ul {
        font-size: 1.8vw;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) { 
    .topRocket {
        top: -42px;
        right: 6%;
        border-left: 12vw solid transparent;
        border-right: 12vw solid transparent;
        border-bottom: 5vw solid #9f0000;
    }

    .boosterOut {
        top: 97%;
        left: 34%;
        height: 8vw;
        width: 8vw;
    }
    
    .boosterIn {
        height: 6vw;
        width: 6vw;
    }
}