/* Núcleo */
body {
    margin: 0;
    padding: 0;
    animation: backgroundAnimation 1.5s infinite normal;
    overflow: hidden;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.titulos {
    text-align: center;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    user-select: none;
    animation: 3s imageShadow linear infinite;
    font-size: 50px;
}

/* Sección: Presentación */
#presentacion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Chakra Petch", sans-serif;
    user-select: none;
    position: relative;
}

.CartelSinFondo {
    margin-top: 8%;
    width: 40%;
    animation: 3s imageShadow linear infinite;
}

#presentacion h2 {
    padding: 0;
    text-align: center;
    font-size: 50px;
    animation: 3s imageShadow linear infinite;
}

/* Sección: Servicios */
#servicios {
    display: flex;
    flex-direction: column;
    margin-top: 35%;
    color: white;
}

#serviciosArticle {
    width: 90%;
    margin: 0 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Sección: Nuestro equipo*/
#nuestro-equipo {
    margin-top: 35%;
}

#equipoArticle {
    display: flex;
    flex-wrap: wrap;
}

/*Sección: Nuestros proyectos*/
#nuestros-proyectos {
    margin-top: 35%;
    width: 100%;
}

/*Sección: Redes*/
#redes-sociales {
    margin-top: 25%;
}

#redesArticle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.asteroidvisual {
    display: flex;
    justify-content: center;
    width: 30%;
    animation: spin 4s linear infinite;
}

.asteroidvisual img {
    width: 70%;
}

footer {
    margin-top: 5%;
}

footer h3 {
    color: white;
    text-align: center;
    animation: 3s imageShadow linear infinite;
    font-family: "Chakra Petch", sans-serif;
}

@keyframes backgroundAnimation {
    0% {
        background: radial-gradient(circle, #000, 19%, #441650, 35%, #000);
    }

    10% {
        background: radial-gradient(circle, #000, 22%, #441650, 35%, #000);
    }

    20% {
        background: radial-gradient(circle, #000, 25%, #441650, 35%, #000);
    }

    30% {
        background: radial-gradient(circle, #000, 28%, #441650, 35%, #000);
    }

    40% {
        background: radial-gradient(circle, #000, 31%, #441650, 35%, #000);
    }

    50% {
        background: radial-gradient(circle, #000, 34%, #441650, 35%, #000);
    }

    60% {
        background: radial-gradient(circle, #000, 31%, #441650, 35%, #000);
    }

    70% {
        background: radial-gradient(circle, #000, 28%, #441650, 35%, #000);
    }

    80% {
        background: radial-gradient(circle, #000, 25%, #441650, 35%, #000);
    }

    90% {
        background: radial-gradient(circle, #000, 22%, #441650, 35%, #000);
    }

    100% {
        background: radial-gradient(circle, #000, 19%, #441650, 35%, #000);
    }
}

@keyframes imageShadow {
    0% {
        filter: drop-shadow(0px 0px 5px white);
    }

    50% {
        filter: drop-shadow(0px 0px 14px white);
    }

    100% {
        filter: drop-shadow(0px 0px 5px white);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 425px) {
    .CartelSinFondo {
        margin-top: 50%;
        width: 90%;
    }

    #presentacion h2 {
        text-align: center;
        font-size: 25px;
    }

    #servicios {
        margin-top: 80%;
    }

    .asteroidvisual {
        display: flex;
        justify-content: center;
        width: 80%;
        animation: spin 4s linear infinite;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .CartelSinFondo {
        margin-top: 20%;
        width: 90%;
    }

    #servicios {
        margin-top: 80%;
    }

    .asteroidvisual {
        display: flex;
        justify-content: center;
        width: 80%;
        animation: spin 4s linear infinite;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .CartelSinFondo {
        margin-top: 6%;
        width: 90%;
    }

    #servicios {
        margin-top: 80%;
    }

    .asteroidvisual {
        display: flex;
        justify-content: center;
        width: 40%;
        animation: spin 4s linear infinite;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .CartelSinFondo {
        margin-top: 10%;
        width: 45%;
    }
}